/*주문취소*/
.t_emph{color:#f00000}
.refund_wrap h3{position:relative}
.refund_wrap h3 .txt_r{position:absolute;bottom:14px;right:0}
.refund_wrap .state {margin-bottom:24px; font-size:0;}
.refund_wrap .state .box {display:inline-block; width:700px; border-top:2px solid #000; border-bottom:1px solid #e8e8e8; vertical-align:top;}
.refund_wrap .state .box.sub {width:260px; margin-left:45px;}
.refund_wrap .state .box .list {font-size:0;}
.refund_wrap .state .box .list li {display:inline-block; position:relative; width:20%; padding:92px 0 28px; font-size:15px; text-align:center; line-height:12px; letter-spacing:-0.025rem;}
.refund_wrap .state .box .list li:after {position:absolute; top:77px; left:-4.5px; width:9px; height:17px; background:url('http://test-pan2.blackyak.com/_skin/sw_kor/img/mypage/order_step_after.png')no-repeat center; content:'';}
.refund_wrap .state .box .list li:nth-child(1) {background:url('http://test-pan2.blackyak.com/_skin/sw_kor/img/mypage/order_step1.png')no-repeat center top 37px;}
.refund_wrap .state .box .list li:nth-child(1):after {display:none;}
.refund_wrap .state .box .list li:nth-child(2) {background:url('http://test-pan2.blackyak.com/_skin/sw_kor/img/mypage/order_step2.png')no-repeat center top 37px;}
.refund_wrap .state .box .list li:nth-child(3) {background:url('http://test-pan2.blackyak.com/_skin/sw_kor/img/mypage/order_step3.png')no-repeat center top 37px;}
.refund_wrap .state .box .list li:nth-child(4) {background:url('http://test-pan2.blackyak.com/_skin/sw_kor/img/mypage/order_step4.png')no-repeat center top 37px;}
.refund_wrap .state .box .list li:nth-child(5) {background:url('http://test-pan2.blackyak.com/_skin/sw_kor/img/mypage/order_step5.png')no-repeat center top 37px;}
.refund_wrap .state .box .list li span {font-size:20px; font-weight:600;}
.refund_wrap .state .box .sub li {position:relative; padding:16px 30px 14px; border-bottom:1px dashed #e2e2e2; font-size:15px; letter-spacing:-0.025rem;}
.refund_wrap .state .box .sub li:last-child {border-bottom:0;}
.refund_wrap .state .box .sub li > span {position:absolute; top:16px; right:30px; font-size:15px; letter-spacing:-0.025rem;}
.refund_wrap .state .box .sub li > span span {font-size:15px; font-weight:600;}
.refund_wrap .tit_lg{font-size:22px;font-weight:bold}
.refund_wrap .tit_sub{margin-top:10px;color:#000;font-size:14px}
.refund_wrap .title .order_num{display:block;color:#000;font-size:15px}
.refund_wrap .btn{text-align:center}
.refund_grid{display:table;width:100%;margin-top:10px;padding-top:10px}
.refund_grid dl{display:table-row}
.refund_grid dl dt{display:table-cell;width:10%;vertical-align:top;padding:5px 0;line-height:34px}
.refund_grid dl dt .cnt{color:#b5b5b5;display:block}
.refund_grid dl dt .cnt .now{color:#000}
.refund_grid dl dd{display:table-cell;width:90%;vertical-align:top;padding:5px 0;vertical-align:middle}
.refund_grid dl dd select{width:200px;border:1px solid #dcdcdc;height:34px}
.refund_grid dl dd textarea{width:100%;border:1px solid #dcdcdc;height:80px;padding:10px;resize:none;outline:none}
.refund_grid dd .t_emph{padding-left:5px}
.refund_grid + .refund_grid{border-top:1px solid #e8e8e8}
.refund_grid .way_list label{display:inline-block;margin-right:10px}
.repay_method.bank{margin:5px 0 0 100px}
.repay_method.bank input[type="button"]{height:34px;background:#000;color:#fff;border:none;cursor:pointer}
.repay_method.bank select{height:34px;border:1px solid #dcdcdc;min-height:auto}
.repay_method.bank input{height:34px;border:1px solid #dcdcdc}

.cancel_price{border-top:2px solid #000;text-align:center;padding:20px 0 50px}
.cancel_price .price_item{display:inline-block;width:250px;vertical-align:top;position:relative}
.cancel_price .top{padding:20px 0;position:relative}
.cancel_price .top:after{border-bottom:1px dashed #979797;content:'';position:absolute;bottom:0;left:10px;right:10px}
.cancel_price .top .tit{font-size:14px;text-align:center;color:#000}
.cancel_price .top .price{font-size:12px;color:#000;padding-top:5px}
.cancel_price .top .price .num{font-size:18px;color:#000;font-weight:bold;}
.cancel_price .refund_bx{padding-left:50px;width:300px}
.cancel_price .refund_bx:before{content:'-';position:absolute;left:20px;top:82px;font-size:24px;line-height:1;font-weight:bold}
.cancel_price .result_bx{padding-left:50px;width:30%}
.cancel_price .result_bx:before{content:'=';position:absolute;left:20px;top:82px;font-size:24px;line-height:1;font-weight:bold}
.cancel_price .bottom{padding:20px 0;height:100px}
.cancel_price .bottom dl:after{content:'';display:block;clear:both}
.cancel_price .bottom dl dt{font-size:14px;width:150px;float:left;text-align:left;line-height:20px;padding-left:10px}
.cancel_price .bottom dl dd{font-size:14px;width:100px;text-align:right;float:left;line-height:20px;padding-right:10px}
.cancel_price .result_bx .top,.cancel_price .result_bx .bottom{background:#f4f4f4}
.refund_address .t_noti{padding-left:15px;position:relative;margin-bottom:5px;font-size:14px}
.refund_address .t_noti:before{content:'';width:2px;height:2px;border-radius:50%;position:absolute;background:#000;top:9px;left:5px}
.address_input{border-top:2px solid #000;margin-top:40px}
.address_input fieldset {margin-top:0}
.address_input fieldset * {font-size:14px;}
.address_input fieldset .form_input.invalid {border-color:#c41c1b; background-color:#fff5f6;}
.address_input fieldset legend {display:block; position:relative; width:100%; padding-bottom:16px; border-bottom:2px solid #333; color:#333; font-size:16px; font-weight:500; letter-spacing:-0.025rem;}
.address_input fieldset legend > span {position:absolute; right:0; top:5px; color:#666;}
.address_input fieldset legend > span > strong {color:#cc3a3a;}
.address_input fieldset > .box > div {position:relative; width:100%; padding:10px 0; border-bottom:1px solid #e8e8e8;}
.address_input fieldset > .box > div > label {display:table-cell; width:180px; padding:14px 10px; color:#000; font-size:14px; font-weight:normal; text-align:left; vertical-align:top; letter-spacing:-0.025rem;}
.address_input fieldset > .box > div > .input_area {display:table-cell; width:600px; height:34px; font-size:0; vertical-align:middle;}
.address_input fieldset > .box > div > .input_area select {width:127px; height:40px; color:#969696; font-size:13px; vertical-align:middle;}
.address_input fieldset > .box > div > .input_area select.long {width:186px; height:40px; margin-left:10px; color:#000; font-size:13px;}
.address_input fieldset > .box > div > .input_area .hyphen {display:inline-block; width:24px; height:40px; color:#666; text-align:center; vertical-align:middle; line-height:40px;}
.address_input fieldset > .box > div > .input_area .hyphen2 {display:inline-block; width:34px; height:40px; color:#000; text-align:center; line-height:40px;}
.address_input fieldset > .box > div > .input_area input {vertical-align:middle;}
.address_input fieldset > .box > div > .input_area input.form_input {width:430px;}
.address_input fieldset > .box > div > .input_area input.form_input.inline {display:inline-block; position:relative; width:127px; color:#969696;}
.address_input fieldset > .box > div > .input_area input.form_input.inline2 {display:inline-block; position:relative; width:145px; color:#969696;}
.address_input fieldset > .box > div.addr .form_input:nth-of-type(1) {width:160px;}
.address_input fieldset > .box > div.addr .form_input:nth-of-type(2) {margin:10px 0;}
.address_input fieldset > .box > div .box_btn * {padding:9.5px 12px; font-size:13px;}
.address_input fieldset > .box > div > .input_area .box_btn {margin-left:10px;}
.address_input fieldset > .box > div.name input.form_input{width:200px}
.refund_delivery{border-top:2px solid #000;margin-bottom:50px}
.refund_delivery .txt{font-size:14px;color:#000;margin-top:20px;padding:0 20px}
.refund_delivery .dlvry_type{padding:0 20px;margin-top:15px}
.refund_delivery .dlvry_type label{cursor:pointer}
.refund_delivery .dlvry_type label span{display:inline-block;vertical-align:top;padding:0 0 0 10px;margin-right:30px}
.tbl_col > tbody > tr > td .edit_option{color:#f00;margin-top:5px;padding-right:20px;height:34px}

.layer_cancel{position:fixed; top:0; left:0; z-index:500; width:100%; height:100%; background:rgba(0,0,0,0.5)}
.layer_cancel .box{padding:20px;background:#fff;width:500px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.layer_cancel .t1{font-size:16px;}
.layer_cancel .t2{font-size:13px;margin-top:5px;color:#797979}
.layer_cancel .info_sec{margin-top:20px}
.layer_cancel .info_sec .tit{font-size:14px;padding-bottom:5px;font-weight:bold}
.layer_cancel .info_sec table{width:100%;border-top:2px solid #000;}
.layer_cancel .info_sec table th{padding:8px 5px;text-align:center;border-bottom:1px solid #c7c7c7}
.layer_cancel .info_sec table td{padding:8px 5px;border-bottom:1px solid #c7c7c7;text-align:center}
.layer_cancel .info_sec table .txt_l{text-align:left}
.layer_cancel .info_sec table .bgcol{background:#f4f4f4}
.layer_cancel .reason_sec{margin-top:20px}
.layer_cancel .reason_sec .tit{font-size:14px;padding-bottom:5px;font-weight:bold}
.layer_cancel .reason_sec table{border-top:1px solid #c7c7c7}
.layer_cancel .reason_sec table th{padding:8px 10px;text-align:left;font-weight:normal;border-bottom:1px solid #c7c7c7;background:#f4f4f4}
.layer_cancel .reason_sec table td{padding:8px 10px;border-bottom:1px solid #c7c7c7}
.layer_cancel .btn{padding-top:20px;text-align:center}

