.tab_slct_wrap{}
.tab_slct_wrap .tab:after{content:'';display:block;clear:both}
.tab_slct_wrap .tab li{float:left;width:100px;line-height:24px;height:24px;border:1px solid #c4c4c4;margin-left:-1px;color:#000;text-align:center;cursor:pointer}
.tab_slct_wrap .tab li.on{background:#f4f4f4}
.tab_slct_wrap .tab_cont{padding-top:5px}
.tab_slct_wrap .tab_cont .item_lst_wrap{}
.tab_slct_wrap .tab_cont .item_lst_wrap:after{content:'';display:block;clear:both}
.tab_slct_wrap .tab_cont .item_lst_wrap li{float:left}
.tab_slct_wrap .tab_cont .item_lst_wrap li:first-child{border-left:1px solid #c4c4c4}
.tab_slct_wrap .tab_cont .item_lst_wrap li label{cursor:pointer;overflow:hidden;display:inline-block;position:relative;vertical-align:top;cursor:pointer}
.tab_slct_wrap .tab_cont .item_lst_wrap li label input[type="radio"]{position:absolute;left:-9999px;}
.tab_slct_wrap .tab_cont .item_lst_wrap li label input[type="radio"] + .txt{display:inline-block;white-space:nowrap;text-align:center;height:22px;line-height:22px;width:70px;;border:1px solid #c4c4c4;margin-left:-1px}
.tab_slct_wrap .tab_cont .item_lst_wrap li label input[type="radio"]:checked + .txt{background:#f4f4f4}
.atch_item{display:inline-block;margin:0 10px 5px 0}
.atch_item .tit{padding-right:5px}
.atch_item .file_sp .nm{color:#00f;cursor:pointer;border-bottom:1px solid #00f;line-height:1}
.atch_item .img{width:60px;display:inline-block;margin-right:3px;vertical-align:middle}
.atch_item .img img{width:100%}
.atch_item.img_vw{width:80px;text-align:center;margin:0}
.atch_item.img_vw .file_sp{text-align:center;display:block;padding:3px 0 0}
.preview_image.no_del .preview-del{display:none}
.add_item{display:inline-block;border-radius:5px;background:#FC6353;height:24px;line-height:24px;white-space:nowrap;padding-right:30px;position:relative}
.add_item .txt{font-size:12px;color:#fff;padding-left:5px}
.add_item .btn_del{position:absolute;right:0;top:0;height:24px;width:24px;background:url('http://www.ttukttak.kr/data/skin/responsive_v1_8_201015/images/v1_image/ico_category_clse_m.png') center center no-repeat;background-size:10px 10px;font-size:0;cursor:pointer}
.add_item .btn_del:before{height:10px;border-left:1px solid #ffabab;content:'';position:absolute;left:0;top:6px}
.sp_blck{display:block}
.ico_grade{display:inline-block;color:#fff;width:56px;height:48px;border-radius:10px;line-height:48px;font-style:normal;font-size:12px;box-sizing:border-box;text-align:center}
.ico_grade.gr1{background:#028389;line-height:17px;padding-top:7px}
.ico_grade.gr2{background:#F49A14}
.ico_grade.gr3{background:#DF3625}
.ico_grade.gr4{background:#2755A3}
.vTop{vertical-align:top}
.ui-dialog-titlebar .right_btn_wrap{position:absolute;right:50px;top:10px}
.ui-dialog-titlebar .right_btn_wrap button{}