@charset "utf-8";
@font-face {
  font-family: "RixJGoL";
  src: url("./RixJGoL/RixJGoL.eot");
  src: url("./RixJGoL/RixJGoL.eot?#iefix") format("embedded-opentype"),
    url("./RixJGoL/RixJGoL.otf") format("opentype"), 
    url("./RixJGoL/RixJGoL.svg") format("svg"),
    url("./RixJGoL/RixJGoL.ttf") format("truetype"),
    url("./RixJGoL/RixJGoL.woff") format("woff"), 
    url("./RixJGoL/RixJGoL.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}