.text-hide{text-indent:-9999px;font-size:0}
.event-20211213{position:relative}
.event-top{background:url('images/event-top.jpg') center top no-repeat;height:844px;z-index:10}
.event-middle{background:url('images/event-middle.jpg') center top no-repeat;height:602px;position:relative;z-index:10}
.event-middle .event-button{position:absolute;width:344px;height:65px;z-index:20;top:467px;left:50%;margin-left:-172px}
.event-middle .event-notice{position:absolute;z-index:20;width:100%;text-align:center;top:564px;}
.event-middle .event-notice .event-notice__button{width:160px;height:38px;background:url('images/btn-notice-off.jpg') 0 0 no-repeat;font-size:0;cursor:pointer}
.event-middle .event-notice.active .event-notice__button{background-image:url('images/btn-notice-on.jpg')}
.event-middle .event-notice .event-notice__list{display:none;background:#f9f9f9;padding:35px 0}
.event-middle .event-notice.active .event-notice__list{display:block}
.event-middle .event-notice .event-notice__list ul{width:1060px;margin:0 auto}
.event-middle .event-notice .event-notice__list li{font-size:16px;line-height:30px;letter-spacing:0.5px;color:#212121;text-align:left}
